body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

canvas {
	display: block; /* fix necessary to remove space at bottom of canvas */
	vertical-align: top;
}

#stats {
	position: absolute;
	top: 0;
	left: 0;	
}

#loading {
	z-index: 10;
	position: absolute;
	height: 10px;
	background: #fff;
	bottom: 0;
	left: 0;
}

.aspect-bar {
	height: 80px;
	width: 100%;
	background: #000;
	position: absolute;
}

#top-aspect-bar {
	top: 0px;
	left: 0px;
}

#bot-aspect-bar {
	bottom: 0px; 
	left: 0px;
}


.debug-info {
	overflow: hidden;
	position: absolute;
	top: 5px;
	left: 100px;
	width: 700px;
	height: 80px;
	color: #fff;
	font: 10px/150% Arial, Helvetica, sans-serif;
	/*background: yellow;*/
}

	.debug-camera {
		position: absolute;
	}

	.debug-camera div {
		overflow: hidden;
		/*background: red;*/
		width: 200px;

	}

	.debug-gl {
		position: absolute;
		left: 200px;
		overflow: hidden;
		/*background: green;*/
		width: 400px;
		height: 100px;
	}




div.content {
	position: absolute;
	width: 40%;
	height: 100%;
	right: 0px;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.2);
}

.photo {
	position: relative;
	margin: auto;
	top: 150px;
	width: 95%;
	height: 40%;
	background-color: rgba(255, 255, 255, 0.0);
}


.text-area {
	padding: 10px;
	position: relative;
	margin: auto;
	top: 150px;
	width: 90%;
	height: 30%;
	background-color: rgba(255, 255, 255, 0.5);
}

.header {
	font: bold 30px/150% Arial, Helvetica, sans-serif;

}

.text-body {
	font: 25px/150% Arial, Helvetica, sans-serif;
}