body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

canvas {
	display: block; /* fix necessary to remove space at bottom of canvas */
	vertical-align: top;
}

#stats {
	position: absolute;
	top: 0;
	left: 0;	
}

#loading {
	z-index: 10;
	position: absolute;
	height: 10px;
	background: white;
	bottom: 0;
	left: 0;
}


div.content {
	position: absolute;
	width: 40%;
	height: 100%;
	right: 0px;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.2);
}

.photo {
	position: relative;
	margin: auto;
	top: 150px;
	width: 95%;
	height: 40%;
	background-color: rgba(255, 255, 255, 0.0);
}


.text-area {
	padding: 10px;
	position: relative;
	margin: auto;
	top: 150px;
	width: 90%;
	height: 30%;
	background-color: rgba(255, 255, 255, 0.5);
}

.header {
	font: bold 30px/150% Arial, Helvetica, sans-serif;

}

.text-body {
	font: 20px/150% Arial, Helvetica, sans-serif;
}