body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

canvas {
	display: block; /* fix necessary to remove space at bottom of canvas */
	vertical-align: top;
}

#stats {
	position: absolute;
	top: 0;
	left: 0;	
}

#loading {
	z-index: 10;
	position: absolute;
	height: 10px;
	background: red;
	bottom: 0;
	left: 0;
}